<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo List</h1>
    <ul>
        <li th:each="toDoItem : ${toDoItems}">
            <label th:text="${toDoItem.getText()}" th:for="'toDoItem' + ${toDoItem.getId()}"></label>
            <input type="checkbox" th:checked="${toDoItem.isResolve()}" th:id="'toDoItem' + ${toDoItem.getId()}" />
        </li>
    </ul>

    <form th:action="@{/todo-items}" th:method="POST" th:object="${newToDoItem}">
        <label for="newToDoItem">New ToDo: </label>
        <input type="text" id="newToDoItem" name="text">
        <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="color:red">Text error</div>
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>
